<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<div style="margin: 20px auto; width: 600px;">
  <!-- <img src="http://157.245.4.104:45435/images/mailling.png" alt="Logo" title="Logo" style="display:block" width="200" height="87" /> -->
</div>
<div style="margin: 50px auto; width: 550px; color: #555; font-family: Malgun Gothic; font-size: 13px; background-color: #FFF;">
  <div style="margin-bottom: 50px;">
    <div style="color: #444; letter-spacing: -2px; font-size: 32px;">
      <b>Please continue with </b>Email Authentication
    </div>
    <div style="line-height: 22px; margin-top: 30px;">
      Hellow.this is
      <strong> Gold Duck</strong>
      <br>
      This mail is sent inform you <strong>${USER_NAME}</strong>
      with the request<br>
      authentication number
    </div>
  </div>
  <table style="width: inherit; border-top-color: #BBB; border-top-width: 1px; border-top-style: solid; border-collapse: collapse;">
    <tbody>
      <tr>
        <th style="height: 58px; color: #444; padding-right: 20px; padding-left: 20px; font-size: 13px; font-weight: bold; border-bottom-color: #EEE; border-bottom-width: 1px; border-bottom-style: solid; background-color: #F7F7F7;">Certification
          Number</th>
        <td style="width: 75%; height: 58px; color: #117EF9; padding-left: 20px; font-size: 18px; font-weight: bold; border-bottom-color: #DDD; border-bottom-width: 1px; border-bottom-style: solid;">${USER_NUMBER}</td>
      </tr>
    </tbody>
  </table>
  <div style="margin-top:40px;">
    <a style="padding: 8px 10px; background: #203b87; color: #ffffff; font-size: 14px;" href="http://113.35.179.31:45435/findPwdChange?PW_KEY=${pw_key}">비밀번호 변경하러가기</a>
    <!-- <a style="padding: 8px 10px; background: #203b87; color: #ffffff; font-size: 14px;" href="https://golden-egg.net/passchange?PW_KEY=${pw_key}">비밀번호 변경하러가기</a> -->
  </div>
  <div style="color: #EEE; margin-top: 80px; margin-bottom: 20px; border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: solid;"></div>
  <div style="color: #666; font-size: 13px; margin-bottom: 25px;">
    <p>This message will not be sent back.<a style="color: #444; font-size: 12px; font-weight: bold;" href="https://golden-egg.net" target="_blank">https://golden-egg.net/</a>Please use.
    </p>
    <p style="color: #999; font-size: 11px;">Copyright(C) <b style="color: #999; font-size: 11px;">Gold Duck</b> All right reserved.</p>
  </div>
</div>