<div id="menu-main" class="menu menu-box-left rounded-0" data-menu-load="/menu-main" data-menu-width="280" data-menu-active="nav-welcome"></div>
<div id="menu-share" class="menu menu-box-bottom rounded-m" data-menu-load="/menu-share" data-menu-height="370"></div>
<!-- <div id="menu-colors" class="menu menu-box-bottom rounded-m" data-menu-load="/menu-colors" data-menu-height="480"></div> -->
<div id="menu-language" class="menu menu-box-bottom rounded-m" data-menu-height="365" data-menu-effect="menu-over" data-menu-load="/menu-language"></div>
