<!DOCTYPE HTML>
<html lang="en">

<%- include('head') %>

<body class="theme-dark">

  <div id="preloader">
    <div class="spinner-border color-highlight" role="status"></div>
  </div>

  <div id="page">

    <div class="header header-auto-show header-fixed header-logo-center">
      <a href="/index" class="header-title">Golden Duck</a>
      <a href="#" data-menu="menu-main" class="header-icon header-icon-1"><i class="fas fa-bars"></i></a>
      <a href="#" data-toggle-theme class="header-icon header-icon-4 show-on-theme-dark"><i class="fas fa-sun"></i></a>
      <a href="#" data-toggle-theme class="header-icon header-icon-4 show-on-theme-light"><i class="fas fa-moon"></i></a>
      <a href="#" data-menu="menu-share" class="header-icon header-icon-3"><i class="fas fa-share-alt"></i></a>
    </div>

    <div id="footer-bar" class="footer-bar-6">
      <a data-menu="menu-charge"><i class="fas fa-qrcode"></i><span>Charge</span></a>
      <a data-menu="menu-cart-item"><i class="fas fa-shopping-basket"></i><span>buy</span></a>
      <a href="/index" class="circle-nav active-nav"><i class="fa fa-home"></i><span>Welcome</span></a>
      <a href="/farmer"><i class="fas fa-warehouse"></i><span>farm</span></a>
      <a data-menu="menu-main"><i class="fa fa-bars"></i><span>Menu</span></a>
    </div>

    <div class="page-title page-title-fixed">
      <div>
        <h1>Notice</h1>
      </div>
      <a href="#" class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-share"><i class="fa fa-share-alt"></i></a>
      <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-light" data-toggle-theme><i class="fa fa-moon"></i></a>
      <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-dark" data-toggle-theme><i class="fa fa-lightbulb color-yellow-dark"></i></a>
      <a href="#" class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-main"><i class="fa fa-bars"></i></a>
    </div>
    <div class="page-title-clear"></div>

    <div class="page-content">

        <a href="/notice-view" class="card card-style mb-2">
            <div class="content">
              <p class="font-11 opacity-70 font-italic line-height-s mb-1">2020-12-12 00:00:00</p>
              <h4>공지사항입니다.</h4>
            </div>
        </a>
        <a href="/notice-view" class="card card-style mb-2">
            <div class="content">
              <p class="font-11 opacity-70 font-italic line-height-s mb-1">2020-12-12 00:00:00</p>
              <h4>공지사항입니다.</h4>
            </div>
        </a>
        <a href="/notice-view" class="card card-style mb-2">
            <div class="content">
              <p class="font-11 opacity-70 font-italic line-height-s mb-1">2020-12-12 00:00:00</p>
              <h4>공지사항입니다.</h4>
            </div>
        </a>

        <nav aria-label="pagination-demo">
            <ul class="pagination pagination- justify-content-center mt-3">
                <li class="page-item">
                    <a class="page-link rounded-xs color-white bg-dark-dark color-white shadow-xl border-0" href="#" tabindex="-1" aria-disabled="true"><i class="fa fa-angle-left"></i></a>
                </li>
                <li class="page-item"><a class="page-link rounded-xs bg-dark-dark color-white shadow-l border-0" href="#">1</a></li>
                <li class="page-item"><a class="page-link rounded-xs bg-dark-dark color-white shadow-l border-0" href="#">2</a></li>
                <li class="page-item"><a class="page-link rounded-xs bg-highlight color-white shadow-l border-0" href="#">3<span class="sr-only">(current)</span></a></li>
                <li class="page-item"><a class="page-link rounded-xs bg-dark-dark color-white shadow-l border-0" href="#">4</a></li>
                <li class="page-item"><a class="page-link rounded-xs bg-dark-dark color-white shadow-l border-0" href="#">5</a></li>
                <li class="page-item">
                    <a class="page-link rounded-xs color-white bg-dark-dark color-white shadow-l border-0" href="#"><i class="fa fa-angle-right"></i></a>
                </li>
            </ul>
        </nav>

    </div>

    <!-- Main Menu-->
    <div id="menu-main" class="menu menu-box-left rounded-0" data-menu-load="/menu-main" data-menu-width="280" data-menu-active="nav-welcome"></div>

    <!-- Share Menu-->
    <div id="menu-share" class="menu menu-box-bottom rounded-m" data-menu-load="/menu-share" data-menu-height="370"></div>

    <!-- Colors Menu-->
    <div id="menu-colors" class="menu menu-box-bottom rounded-m" data-menu-load="/menu-colors" data-menu-height="480"></div>

    <div id="menu-language" class="menu menu-box-bottom rounded-m" data-menu-height="365" data-menu-effect="menu-over" data-menu-load="/menu-language"></div>





  </div>
</body>
